@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$main-color: #ffe600;
$dark-color: #333;
$dark-grey-color:#666;
$grey-color: #999;
$ligth-color:#eee;
$white-color: #fff;
$blue-color: #3483fa;
$padding-header:8px;
$padding-min: 16px;
$padding-max:32px;
$round-corners:4px;
$image-size:180px;


body {
    background-color: $ligth-color;
    font-family: "Figtree", sans-serif;
    color: $dark-color
}

a {
  text-decoration: none!important;
  color: $dark-color
}


.btn-primary {
  background-color: $blue-color;
  border:none;
  width: 80%;
  &:hover {
      background-color: $dark-color;
    }
}

.btn-secondary {
    background-color: $grey-color;
    border:none;
    &:hover {
        background-color: $dark-color;
      }
}

ol.breadcrumb {
  padding: $padding-min 0;
  margin: 0;
}

.error {
  color: #960000;
  font-size: 12px;
  text-align: center;
}

/*Search box*/

#searchBox {
    background-color: $main-color;
    padding: $padding-header 0;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 999;
}

svg.bi.bi-search {
  margin: 10px 0 0 0;
}


/*List items*/

#listContent {
    background-color: $white-color;
    padding:  0 $padding-min;
}

#listContent a h1 {
  font-size: 18px;
 
}

#listContent h3 {
  font-size: 24px;
  margin-bottom: $padding-max;
}
#listContent p {
  font-size: 12px;
  color: $dark-grey-color;
}

.listItem {
  padding: $padding-min 0 ;
  border-bottom: 1px solid $ligth-color;
}

.listItem img {
  border-radius: 4px;
  width: $image-size;
  max-width: $image-size;
}

svg.freeShippingIcon {
  background-color: #00ce22;
  padding: 5px;
  border-radius: 50%;

}

/*item content*/

#itemContent {
  background-color: $white-color;
  padding:  $padding-max ;
}

#itemContent h1 {
  font-size: 24px;
  margin-bottom: $padding-max;
}

#itemContent h2 {
  font-size: 46px;
  margin-bottom: $padding-max;
}

#itemContent h3 {
  font-size: 14px;
  margin-bottom: $padding-min;
}

#itemContent h4 {
  font-size: 28px;
  margin-bottom: $padding-max;
}

#itemContent img{
  width: 680px;
}
.itemTitleContainer {
  height: 100vh;
}

.itemTitle {
  position: sticky;
  top:100px
}


/*Loader*/


.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  

  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  

  .loading:not(:required) {

    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  

  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

